<!DOCTYPE html>
<!-- saved from url=(0065)https://vars.hotjar.com/rcj-99d43ead6bdf30da8ed5ffcb4f17100c.html -->
<html lang="zh">

<body class="lang-zh js-resdy page-scrolled-down navigation-ready">
    <div id="site-wrapper">
        <header class="header">
          <div class="container">
            <div id="fullscreen-navigation" class="navbar-content navbar-collapse collapse">
              <!-- 导航——top 包括logo navbar 及 关闭btn -->
              <div id="inner-navbar-header" class="hidden-sm hidden-xs navbar-header">
                <div class="container fullscreen">
                  <!-- <a href="/zh-CN/" class="navbar-brand">Kemppi</a> -->
                  <ul id="section-nav" class="hidden-sm hidden-xs nav navbar-nav">
                      <li>
                          <a href="#" data-href="#nav-section-chan-pin" class="page-chan-pin active"><%=language.common.product %></a>
                        </li>
                        <!-- <li>
                          <a href="/zh-CN/gongyi-jishu/" data-href="#nav-section-gongyi-jishu" class="page-gongyi-jishu"><%=language.common.support %></a>
                        </li> -->
                        <li>
                          <a href="#" data-href="#nav-section-lian-xi-wo-men" class="page-lian-xi-wo-men"><%=language.common.company %></a>
                        </li>
                  </ul> 
                  <button class="navbar-toggle" type="button"> 
                      <span><%=language.common.close %></span> 
                  </button>
                </div>
              </div>
              
              <!-- 内容——包括左右两块 -->
              <div id="sub-nav-container" class="container fullscreen">
                <nav id="sub-navigation" class="row">
    
                  <!-- 导航——left -->
                  <div id="discover-nav" class="equal-height-nav" style="height:100%;">
                    <div class="category-group">
                      <h3 class="category-group-heading"><%=language.common.found %></h3>
                      <ul id="category-group-fa-xian" class="nav-level-1 discover-category-group">
                      </ul>
                    </div>
                  </div>
    
                  <!-- 右侧内容 -->
                  <div class="sub-nav-content col-sm-9">
                    <div id="nav-section-chan-pin" class="nav-section nav-section-0 row active">
                      <div class="inner-section">
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
    
            </div>
          </div>
        </header>
      </div>  
 
</body>

</html>